<div class="container-progres-bar">
    <mat-progress-bar mode="query" *ngIf="cargando"></mat-progress-bar>
</div>
<div class="title-container">
    <!-- <img src="assets/image/user_circle.svg" alt="" class="title-icon" style="padding: 0;"> -->
    <h1 class="title" style="margin: 0; padding: 0px;">Configuración de Perfil</h1>
</div>


<form [formGroup]="form_data_user">
    <div class="container">


        <!-- !NOMBRE -->

        <div class="data-container">
            <div class="grid-data">
                <span class="campo">Nombre completo</span>
                <p class="data"> {{data_usuario?.primer_nombre}} {{data_usuario?.segundo_nombre}}
                    {{data_usuario?.primer_apellido}} {{data_usuario?.segundo_apellido}}</p>

                <div class="cont-edit" (click)="expandir('nombre')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>

            <div class="form" *ngIf="drops.nombre">
                <div class="form-grid grid-nombre">
                    <mat-form-field class="mat-form" appearance="outline">
                        <mat-label>Primer nombre</mat-label>
                        <input matInput formControlName="primer_nombre">
                    </mat-form-field>

                    <mat-form-field class="mat-form" appearance="outline">
                        <mat-label>Segundo nombre</mat-label>
                        <input matInput formControlName="segundo_nombre">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Primer apellido</mat-label>
                        <input matInput formControlName="primer_apellido">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Segundo apellido</mat-label>
                        <input matInput formControlName="segundo_apellido">
                    </mat-form-field>

                    <div class="container-btn">
                        <span class="guardar-text" (click)=" actualizarNombre()">Guardar</span>
                    </div>

                </div>
            </div>
        </div>

        <!-- !DPI -->
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">DPI</span>
                <p class="data"> {{data_usuario?.dpi}}</p>

                <div class="cont-edit" (click)="expandir('dpi')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>

            <div class="form" *ngIf="drops.dpi">
                <div class="form-grid grid-usuario">
                    <mat-form-field class="mat-form" appearance="outline">
                        <mat-label>Dpi</mat-label>
                        <input matInput formControlName="dpi">
                    </mat-form-field>
                    <div class="container-btn">
                        <span class="guardar-text" (click)=" actualizarDpi()">Guardar</span>
                    </div>

                </div>
            </div>
        </div>

        <!-- !USUARIO -->
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">Usuario</span>
                <p class="data"> {{data_usuario?.nombre_usuario}}</p>

                <div class="cont-edit" (click)="expandir('usuario')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>

            <div class="form" *ngIf="drops.usuario">


                <div class="form-grid grid-usuario">
                    <mat-form-field appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input matInput formControlName="nombre_usuario">
                    </mat-form-field>
                    <div class="container-btn">
                        <span class="guardar-text" (click)="actualizarUser()">Guardar</span>
                    </div>

                </div>



            </div>
        </div>

        <!-- !CORREO -->

        <div class="data-container">
            <div class="grid-data">
                <span class="campo">Correo</span>
                <p class="data"> {{data_usuario?.correo}}</p>

                <div class="cont-edit" (click)="expandir('correo')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>
            <div class="form" *ngIf="drops.correo">

                <div class="form-grid grid-usuario">
                    <mat-form-field appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input matInput formControlName="correo">
                    </mat-form-field>
                    <div class="container-btn">
                        <span class="guardar-text" (click)="actualizarDatoUsuario('correo')">Guardar</span>
                    </div>

                </div>
            </div>
        </div>

        <!-- !CONTRASEÑA -->

        <div class="data-container" *ngIf="isConfigProfile">
            <div class="grid-data">
                <span class="campo">Contraseña</span>
                <p class="data"> ******************</p>

                <div class="cont-edit" (click)="expandir('pass')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>

            <div class="form" *ngIf="drops.pass">

                
                <div class="form-grid grid-nombre">
                    <div class="container-instructions">
                        <p>*La nueva contraseña debe tener al menos una letra mayúscula, un dígito y 
                            un mínimo de 8 caracteres
                        </p>
                    </div>
                    <mat-form-field class="mat-form" appearance="outline">
                        <mat-label>Contraseña actual</mat-label>
                        <input type="password" matInput formControlName="contraseña_actual">
                    </mat-form-field>

                    <!-- <div>
                    </div> -->
                    <mat-form-field class="down" appearance="outline">
                        <mat-label>Nueva contraseña</mat-label>
                        <input type="password" matInput formControlName="nueva_contraseña">
                    </mat-form-field>

                    <mat-form-field class="down" appearance="outline">
                        <mat-label>Repita contraseña</mat-label>
                        <input type="password" matInput formControlName="repetir_contraseña">
                    </mat-form-field>

                    <div class="container-btn down-1">
                        <span class="guardar-text" (click)="actualizarPassUsuario()">Guardar</span>
                    </div>
                </div>
               
                
            </div>
        </div>

        <!-- !TELEFONO -->
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">Teléfono</span>
                <p class="data"> {{data_usuario?.telefono}}</p>

                <div class="cont-edit" (click)="expandir('telefono')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>

            <div class="form" *ngIf="drops.telefono">

                <div class="form-grid grid-usuario">
                    <mat-form-field appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="telefono">
                    </mat-form-field>
                    <div class="container-btn">
                        <span class="guardar-text" (click)=" actualizarDatoUsuario('telefono')">Guardar</span>
                    </div>

                </div>
            </div>
        </div>

        <!-- !PUESTO -->
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">Puesto</span>
                <p class="data"> {{data_usuario?.puesto}}</p>

                
            </div>

            <div class="form" *ngIf="drops.puesto">
                <div class="form-grid grid-usuario">
                    <!-- <input type="text" name=""  placeholder="Primer nombre" class="input">
                    <input type="text" name=""  placeholder="Segundo nombre" class="input"> -->
                    <!-- <input type="text" name=""  placeholder="Primer apellido" class="input"> -->
                    <div style="display: flex; justify-content: space-around; align-items: center;">
                        <input type="text" name="" placeholder="Puesto" class="input" style="margin-right: 5px;"
                            formControlName="puesto">
                        <span class="guardar-text" (click)=" actualizarDatoUsuario('puesto')">Guardar</span>
                    </div>

                    <!-- <div class="container-btn">
                    </div> -->

                </div>
            </div>
        </div>


        <!-- !ROL -->

        <div class="data-container" *ngIf="!isConfigProfile">
            <div class="grid-data">
                <span class="campo">Roles</span>
                <p class="data"> {{data_usuario?.roles}}</p>

                <div class="cont-edit" (click)="expandir('roles')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>

            <div class="form" *ngIf="drops.roles">
                <div class="form-grid grid-usuario">


                    <div class="flex-center">
                        <select name="roles" id="roles" class="input" formControlName="rol">
                            <option value="Rol" disabled selected>Rol</option>
                            <ng-container *ngFor="let rol of data_roles; let i=index">
                                <option [ngValue]="i">{{rol.nombre_rol}}</option>
                            </ng-container>
                        </select>
                        <span class="guardar-text" (click)="agregarRol()">Agregar</span>
                    </div>

                    <div class="container-roles flex-start-center">
                        <ng-container *ngFor="let rol of roles; let i=index">
                            <div class="rol-container">
                                {{rol.nombre_rol}}
                                <img src="assets/image/x.svg" alt="" class="close" (click)="close(i)">
                            </div>
                        </ng-container>
                    </div>

                    <div class="flex-end-center">
                        <span class="guardar-text" (click)="actualizarRoles()">Guardar</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>