@import '~@angular/material/theming';

@include mat-core();


// GAMA COLORES
$my-primary-color: (
  50 : #f3fbfd,
  100 : #e2f5fa,
  200 : #cfeff7,
  300 : #bce9f4,
  400 : #ade4f1,
  500 : #9fdfef,
  600 : #97dbed,
  700 : #8dd7eb,
  800 : #83d2e8,
  900 : #72cae4,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f9feff,
  A700 : #e0f8ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$my-accent-color: (
  50 : #fff7ff,
  100 : #ffeaff,
  200 : #ffddff,
  300 : #ffcfff,
  400 : #ffc4ff,
  500 : #ffbaff,
  600 : #ffb3ff,
  700 : #ffabff,
  800 : #ffa3ff,
  900 : #ff94ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$my-warn-color: (
  50 : #fcf3f3,
    100 : #f9e0e0,
    200 : #f5cccc,
    300 : #f0b8b8,
    400 : #eda8a8,
    500 : #ea9999,
    600 : #e79191,
    700 : #e48686,
    800 : #e17c7c,
    900 : #db6b6b,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffeaea,
    A700 : #ffd0d0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);

// TEMA PROPIO
$my-theme: mat-light-theme((
 color: (
   primary: $my-palette-primary,
   accent: $my-palette-accent,
   warn: $my-palette-warn
 )
));

// APLICAR NUESTRO TEMA A ANGULAR
@include angular-material-theme($my-theme);


// REEMPLAZA EN ANGULAR.JSON -> STYLES
// "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
// POR LA RUTA DEL CUSTOM THEME
// "src/assets/styles/my-theme.scss",