/* You can add global styles to this file, and also import other style files */
*{
    /* font-family: 'Abel', sans-serif; */
    font-family: confortaa, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: confortaa;
    src: url(assets/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}


/* 
:root{
    padding: 0;
    height: 100%;
} */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
html, body { height: 100%; }
/* body { margin: 0; font-family: confortaa, "Helvetica Neue", sans-serif; } */

.red-snackbar{
    background: #FF1368;
    color: #fff;
}

.green-snackbar{
    background: #3DCE65;
    color: #fff;
}

/* input{
    text-transform: capitalize;
} */


.toolbar-add{
    height: 50px;
    width: 100%;
    background: #32CD32;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.custom-modalbox mat-dialog-container{
    padding: 0;  
}


.title-modal{
    margin: 0;
}




/* TITULOS */
.title{
    font-family: confortaa, sans-serif !important;
    font-size: 30px;
    color: #FFBAFF;
    /* margin: 0 !important; */
    /* display: inline !important; */
    /* background: chocolate; */
    /* padding: 30px; */
    /* height: 30px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.title-container{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    /* background: chartreuse; */
    margin-top: 20px;
    margin-left: 60px;
    height: 50px;
}

.title-icon{
    height: 30px;
    margin:0;
    /* background: cornflowerblue; */
    padding: 0;

}



.input{
    border: none;
    border-bottom: 1px solid #798197;
    color: #7B7D82;
    outline: none;
    /* outline:1 px slid orchid; */
    width: 100%;
    /* margin: 3px; */
    height: 25px;

    /* padding: 0; */
}


.sub-title{
    font-family: confortaa, sans-serif !important;
    font-size: 20px !important;
    color: #FFBAFF;
    /* margin: 0 !important; */
    /* display: inline !important; */
    /* background: chocolate; */
    /* padding: 30px; */
    /* height: 30px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 30px; */

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    /* width: 90%; */

}

.btn{
    background: #9FDFEF;
    color: white;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-small{
    background: #9FDFEF;
    color: white;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}


.guardar-text{
    font-size: 14px;
    text-decoration: underline;
    color: #9FDFEF;
    cursor: pointer;
}


.add-icon{
    height: 12px;
}


/* !VISUALIZACION DE DATOS */



.container{
    width: 100%;
    /* background: blue; */
    padding: 0;
    margin-top: 10px;
}

.data-container{
    width: 70%;
    /* background: brown; */
    margin: 0 auto;
    margin-bottom: 10px;
}


.icon{
    height: 12px;
}

.grid-data{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid #798197;
    height: 25px;
    /* background: cadetblue; */
}

.campo{
    font-weight: bold;
    font-size: 13px;
    padding-left: 5px;
}

.data{
    font-size: 13px;
}

.campo,.data{
    /* background: chartreuse; */
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cont-edit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 5px;
    cursor: pointer;
}

.text-editar{
    color: #2C3D7F;
    font-size: 12px;
}


.form{
    width: 100%;
    /* background: chartreuse; */
}

.form-grid{
    width: 100%;
    /* height: 30px; */
}

.form-grid{
    width: 80%;
    margin: 0 auto;
    display: grid;
    column-gap: 20px;
    row-gap: 15px;

    padding: 10px;
    margin-top: 10px;
}

.grid-nombre{
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.grid-usuario{
    width: 40%;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.down{
    grid-row: 2/3;
}

.down-1{
    grid-row: 3/4;
}

.btn-guardar{
    width: 100px;
}

.container-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 2/3;
}

/* !FIN VISUALIZACION DE DATOS */

.data-card-content{
    /* height: 50px; */
    border: 0.5px solid #707070;
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

    padding: 15px;
    overflow: auto;
    margin-bottom: 15px;
    /* background: cornflowerblue; */
}



.data-card-header-text{
    background: #9FDFEF;
    padding: 3px 10px;
    border-top-right-radius: 7px;
    color: white;
    font-weight: bold;
    /* border-bottom: 1px solid #707070; */
    /* box-sizing: content-box; */
    /* margin-bottom: 5px; */
}


.data-text{
    color: #75767A;
    /* background: chocolate; */

    font-size: 10px;
    /* height: 20px; */
}

.value{
    text-decoration: underline;
    color: black;
}


.text-area{
    resize: none;
    outline: none;

    border: 1px solid #798197;

    border-radius: 5px;
    height: 70px;
    width: 100%;
    padding: 5px 5px;
}



/* !RADIO BTN */


.container-check{
    height: 20px;
    /* width: 20px; */
    /* background: chartreuse; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.radio{
    /* background: chocolate; */
    height:15px;
    width: 15px;
    border: 1px solid #2E3A59;
    border-radius: 3px;
    padding: 0;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;


}

.radio-check{
    height: 15px;
}


.input-date{
    width: 150px;
    text-align: center;
    padding: 0;
}

.flex-start-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-space-around-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-space-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: chartreuse; */
}

.flex-end-center{
    display: flex;
    justify-content: end;
    align-items: center;
}

.flex-column-start-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-space-around-center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background: chartreuse; */
}


.rol-container{
    font-size: 10px;
    background: #FFBAFF;
    color: white;
    border-radius: 5px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 3px;
}


.close{
    height: 10px;
    cursor: pointer;
    margin-left: 3px;
}


.flex-around-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background: chartreuse; */
}







/* !DATE PICKER */


.datepiker-input{
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 12px;
    padding: 0;
    pointer-events:none; 
}


.dp svg{
    padding: 0;
    margin: 0;
    font-size: 10px;

    border-width: 1px;
    border-style: solid;
    /* border-color: red; */

    height: 20px;
    width: 20px;
    border:none;
    /* line-height: 12px;
    min-height: 12px; */
}

.dp{
    /* background: blue; */
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dp-small{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dp-small svg{
    padding: 0;
    margin: 0;
    font-size: 10px;

    border-width: 1px;
    border-style: solid;
    /* border-color: red; */

    height: 20px;
    width: 20px;
    border:none;
    /* line-height: 12px;
    min-height: 12px; */
}
/* "./node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css", */


.mat-spiner .svg{
    width: 20px;
    height: 20px;
}




.mat-progress-bar-fill::after {
    background-color: #FFBAFF;
}

.mat-progress-bar-buffer {
    background: #E4E8EB;
}

.mat-progress-bar {
    border-radius: 2px;
}

.container-progres-bar{
    height: 10px;
}




/* !    CONSULTAS */
.title-section{
    background: #798197;
    font-size: 12px;
    color: white;
    width: 100%;
    height: 25px;

}


.title-text{
    /* background: lemonchiffon; */
    text-align: left;
    width: 100%;

    text-transform: capitalize;
}


.description-title{
    /* min-height: 25px; */
    padding: 5px;
    /* background: lightgreen; */
    width:100%;
    height: 20px;
    border-bottom: 1px solid black;
    
}

.description-text{
    font-size: 11px;
    color: black;
    /* background: burlywood; */
    /* margin: 5px; */
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;
}

.description-text-parrafo{
    font-size: 11px;
    color: black;
    /* background: burlywood; */
    /* margin: 5px; */
    height: 100%;
    width: 100%;
    text-align: left;
}


.lines-4{
    height: 85px;
}

.lines-2{
    height: 45px;
}


*{
    box-sizing: border-box;
}



.input-small{
    outline: none;
    border:none;
    border-bottom: 1px solid gray;
    width: 70px;
    background: none;
}


.input-med{
    outline: none;
    border:none;
    border-bottom: 1px solid gray;
    width: 100px;
    font-size: 11px;
    background: none;
}

.input-center{
    text-align: center;
}


.input-lg{
    width: 100%;
    outline: none;
    border:none;
    /* border-bottom: 1px solid gray; */
    /* width: 100px; */
    font-size: 11px;
    height: 100%;
    border-radius: none;
    background: none;
}


.input-lg:focus{
    background: rgb(240, 254, 255);
}

.input-container{
    padding: 0;
    width:100%;
    height: 20px;
    border-bottom: 1px solid black;
}

.input-container-2{
    padding: 0;
    width:100%;
    height: 45px;
    border-bottom: 1px solid black;
}