
<div class="fondo">
    <div>
        <img src="assets/image/CAM_logo.svg" alt="" class="logo-CAM">
    </div>


    <div class="card">

        <p class="title">¿Olvidaste tu contraseña?</p>

        <p class="text-f"> Ingresa tu correo registrado y te enviaremos las instrucciones para cambiar tu contraseña.</p>

        <form [formGroup]="form_forgot">


            <div class="container-input">
                <mat-form-field  appearance="outline" >
                    <mat-label>Correo</mat-label>
                    <input matInput  formControlName="correo">
                </mat-form-field>
            </div>


            <!-- <div class="input-container">
                <img src="assets/image/usuario.svg" class="icon">
                <input type="text" placeholder="Usuario" class="input" formControlName="username">
            </div>
    
            <div class="input-container">
                <img src="assets/image/candado.svg" class="icon">
                <input type="password" placeholder="Contraseña" class="input" formControlName="password"> 
            </div> -->

        </form>


        <!-- <input type="submit" class="btn" value="Ingresar" > -->


        <div class="container-btns">


            <button mat-raised-button class="btn-cancel" type="submit" (click)="close()">
                <!-- <mat-spinner class="mat-spiner" [diameter]="30"></mat-spinner> -->
                Cancelar
            </button>
    
            <button mat-raised-button class="btn-aceptar" type="submit" *ngIf="cargando">
                <mat-spinner class="mat-spiner" [diameter]="30" color="accent"></mat-spinner>
            </button>
        
            <button mat-raised-button class="btn-aceptar" type="submit" (click)="aceptar()" *ngIf="!cargando">
                <!-- <mat-spinner class="mat-spiner" [diameter]="30"></mat-spinner> -->
                Aceptar
            </button>
    
        </div>
    </div>

    
</div>