<div class="container-progres-bar">
    <mat-progress-bar mode="query"  *ngIf="cargando"></mat-progress-bar>
</div>
<div class="title-container">
    <!-- <img src="assets/image/user_circle.svg" alt="" class="title-icon" style="padding: 0;"> -->
    <h1 class="title" style="margin: 0; padding: 0px;">Paciente</h1>
</div>


<div class="container">




    <form [formGroup]="form_data_paciente">

        <!-- !NOMBRE -->
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">Nombre completo</span>    
                <p class="data"> {{data_paciente?.primer_nombre}} {{data_paciente?.segundo_nombre}} {{data_paciente?.primer_apellido}} {{data_paciente?.segundo_apellido}}</p>
    
                <div class="cont-edit" (click)="expandir('nombre')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>
    
            <div class="form" *ngIf="drops.nombre">
                <div class="form-grid grid-nombre">
                    <mat-form-field class="mat-form" appearance="outline" >
                        <mat-label>Primer nombre</mat-label>
                        <input matInput  formControlName="primer_nombre">
                    </mat-form-field>
        
                    <mat-form-field class="mat-form" appearance="outline" >
                        <mat-label>Segundo nombre</mat-label>
                        <input matInput  formControlName="segundo_nombre">
                    </mat-form-field>
        
                    <mat-form-field  appearance="outline" >
                        <mat-label>Primer apellido</mat-label>
                        <input matInput  formControlName="primer_apellido">
                    </mat-form-field>
        
                    <mat-form-field  appearance="outline" >
                        <mat-label>Segundo apellido</mat-label>
                        <input matInput  formControlName="segundo_apellido">
                    </mat-form-field>
    
                    <div class="container-btn">
                        <span class="guardar-text" (click)=" actualizarNombre()">Guardar</span>
                    </div>
    
                </div>
            </div>
        </div>
    
    
        <!-- !DPI -->
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">DPI</span>    
                <p class="data"> {{data_paciente?.dpi}}</p>
    
                <div class="cont-edit" (click)="expandir('dpi')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>
    
            <div class="form" *ngIf="drops.dpi">

                <div class="form-grid grid-usuario">
                    <mat-form-field class="mat-form" appearance="outline" >
                        <mat-label>Dpi</mat-label>
                        <input matInput  formControlName="dpi">
                    </mat-form-field>
                    <div class="container-btn">
                        <span class="guardar-text" (click)=" actualizarDpi()">Guardar</span>
                    </div>
    
                </div>


            </div>
        </div>
    
        <!-- !NACIMIENTO -->
    
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">Fecha de nacimiento</span>    
                <p class="data"> {{data_paciente?.fecha_nacimiento}} ({{data_paciente?.edad_actual}} años)</p>
    
                <div class="cont-edit" (click)="expandir('nacimiento')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>
            <div class="form" *ngIf="drops.nacimiento">

                <div class="form-grid grid-usuario">
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput [matDatepicker]="pickerFN" formControlName="fecha_nacimiento">
                        <mat-datepicker-toggle matSuffix [for]="pickerFN"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFN></mat-datepicker>
                      </mat-form-field>
        
    
                    <div class="container-btn">
                        <span class="guardar-text" (click)=" actualizarFechaNacimiento()">Guardar</span>
                    </div>
    
                </div>

            </div>
        </div>
    
        <!-- !DIRECCION -->
    
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">Dirección</span>    
                <p class="data"> {{data_paciente?.calle_avenida}}  {{data_paciente?.municipio}} {{data_paciente?.departamento}}</p>
    
                <div class="cont-edit" (click)="expandir('direccion')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>
    
            <div class="form" *ngIf="drops.direccion">
                <div class="form-grid grid-nombre">
                    <mat-form-field  appearance="outline" >
                        <mat-label>Departamento</mat-label>
                        <input matInput  formControlName="departamento">
                    </mat-form-field>
        
                    <mat-form-field  appearance="outline" >
                        <mat-label>Municipio</mat-label>
                        <input matInput  formControlName="municipio">
                    </mat-form-field>
        
                    <mat-form-field  appearance="outline" class="nombre-encargado">
                        <mat-label>Dirección</mat-label>
                        <input matInput  formControlName="calle_avenida">
                    </mat-form-field>
    
                    <div class="container-btn down-1">
                        <span class="guardar-text" (click)="actualizarDireccion()">Guardar</span>
                    </div>
    
                </div>            
            </div>
        </div>
    
    
    
        <!-- !TELEFONO -->
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">Teléfono</span>    
                <p class="data"> {{data_paciente?.telefono}}</p>
    
                <div class="cont-edit" (click)="expandir('telefono')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>
    
            <div class="form" *ngIf="drops.telefono">

                <div class="form-grid grid-usuario">
                    <mat-form-field class="mat-form" appearance="outline" >
                        <mat-label>Teléfono</mat-label>
                        <input matInput  formControlName="telefono">
                    </mat-form-field>
                    <div class="container-btn">
                        <span class="guardar-text" (click)="actualizarDatoPaciente('telefono')">Guardar</span>
                    </div>
    
                </div>
            </div>
        </div>
    
        <!-- !OCUPACION -->
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">Ocupación</span>    
                <p class="data"> {{data_paciente?.ocupacion}}</p>
    
                <div class="cont-edit" (click)="expandir('ocupacion')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>
    
            <div class="form" *ngIf="drops.ocupacion">

                <div class="form-grid grid-usuario">
                    <mat-form-field  appearance="outline" style="margin-bottom: -1.25em">
                        <mat-label>Ocupación</mat-label>
                        <input matInput  formControlName="ocupacion">
                    </mat-form-field>
                    <div class="container-btn">
                        <span class="guardar-text" (click)="actualizarDatoPaciente('ocupacion')">Guardar</span>
                    </div>
    
                </div>

            </div>
        </div>
    
    
        <!-- !MIGRANTE -->
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">Migrante</span>    
                <p class="data"> {{data_paciente?.migrante}}</p>
    
                <div class="cont-edit" (click)="expandir('migrante')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>
    
            <div class="form" *ngIf="drops.migrante">
                <div class="form-grid grid-usuario">
                    <!-- <input type="text" name=""  placeholder="Primer nombre" class="input">
                    <input type="text" name=""  placeholder="Segundo nombre" class="input"> -->
                    <!-- <input type="text" name=""  placeholder="Primer apellido" class="input"> -->
                    <div style="display: flex; justify-content: space-around; align-items: center;">
                        <span class="text-form">Migrante:</span>
            
                        <!-- <div style="display: flex; justify-content: flex-start; align-items: center;">
                            <label for="si" class="radio-label">Si</label>
                            <input type="radio" name="fav_language" id="si" value="Si">
                        </div>
            
                        <div style="display: flex; justify-content: flex-start; align-items: center; margin-right: 20px;">
                            <label for="no" class="radio-label">No</label>
                            <input type="radio" name="fav_language" id="no" value="No">
                        </div> -->

                        <div class="container-check" style="margin-left: 10px;">
                            <span class="data-text">SI</span>
                            <div class="radio" (click)="seleccionar_migrante('SI')">
                                <img src="assets/image/x.svg" alt="" class="radio-check" *ngIf="migrante.SI">
                            </div>
                            <!-- <input type="radio" name="establecimiento" id="PS" class="radio-btn"> -->
                        </div>
        
                        <div class="container-check" style="margin-left: 10px;">
                            <span class="data-text">NO</span>
                            <div class="radio" (click)="seleccionar_migrante('NO')">
                                <img src="assets/image/x.svg" alt="" class="radio-check" *ngIf="migrante.NO">
                            </div>
                            <!-- <input type="radio" name="establecimiento" id="PS" class="radio-btn"> -->
                        </div>
                        
                        <span class="guardar-text" (click)="actualizarDatoPaciente('migrante')">Guardar</span>
                    </div>
    
    
                    <!-- <div class="container-btn">
                    </div> -->
    
                </div>
            </div>
        </div>
    
    
        
         <!-- !RESPONSABLE -->
    
         <div class="data-container">
            <div class="grid-data">
                <span class="campo">Responsable</span>    
                <p class="data"> {{data_paciente?.nombre_responsable}} - {{data_paciente?.telefono_responsable}}</p>
    
                <div class="cont-edit" (click)="expandir('responsable')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div>
            </div>
    
            <div class="form" *ngIf="drops.responsable">

                <div class="form-grid grid-nombre">
                    <mat-form-field  appearance="outline" >
                        <mat-label>Nombre Responsable</mat-label>
                        <input matInput  formControlName="nombre_responsable">
                    </mat-form-field>
        
                    <mat-form-field  appearance="outline" >
                        <mat-label>Teléfono Responsable</mat-label>
                        <input matInput  formControlName="telefono_responsable">
                    </mat-form-field>
    
                    <div class="container-btn">
                        <span class="guardar-text" (click)="actualizarResponsable()">Guardar</span>
                    </div>
    
                </div>
            </div>
        </div>


        <!-- !EXPEDIENTE -->
        <div class="data-container">
            <div class="grid-data">
                <span class="campo">No. Expediente</span>    
                <p class="data">{{data_paciente?.id_expediente}}</p>
    
                <!-- <div class="cont-edit" (click)="expandir('nombre')">
                    <img src="assets/image/edit.svg" class="icon">
                    <span class="text-editar">Editar</span>
                </div> -->
            </div>
    
            <!-- <div class="form" *ngIf="drops.nombre">
                <div class="form-grid grid-nombre">
                    <input type="text" name=""  placeholder="Primer nombre" class="input" formControlName="primer_nombre">
                    <input type="text" name=""  placeholder="Segundo nombre" class="input" formControlName="segundo_nombre">
                    <input type="text" name=""  placeholder="Primer apellido" class="input" formControlName="primer_apellido">
                    <input type="text" name=""  placeholder="Segundo apellido" class="input" formControlName="segundo_apellido">
    
                    <div class="container-btn">
                        <span class="guardar-text" (click)=" actualizarNombre()">Guardar</span>
                    </div>
    
                </div>
            </div> -->
        </div>


    </form>

</div>



<!-- !Expediente -->

<ng-container *ngIf="show_expedientes">
    <div class="title-container" style="margin-top: 20px;">
        <!-- <img src="assets/image/pacientes.svg" alt="" class="title-icon" style="padding: 0;"> -->
        <h1 class="title" style="margin: 0; padding: 0px;">Expediente</h1>
    </div>
    
    
    
    <div style="width: 70%; display: flex; justify-content: flex-end; margin: 0 auto; " >
        <div class="add-pacient" (click)="toNewControl()">
            <img src="assets/image/add.svg" alt="" class="add-icon" style="padding: 0;">
            <span>Agregar Control</span>
        </div>
    </div>
    
    <div class="container-table" >
        
        <div class="table">
            
            <div class="table-header">
                <span >No.</span>
            </div>
    
            <div class="table-header">
                <span >Tipo</span>
    
            </div>
    
            <div class="table-header">
                <span >Consultas</span>
                
            </div>
            
            <div class="table-header">
                <span>Fecha creación</span>
    
            </div>
    
            <div class="table-header">
                <span>Última modificacion</span>
    
            </div>
    
            <div class="table-header">
                <span>Encargado</span>
    
            </div>
    
            <!-- <div class="table-header">
                <span>Expediente</span>    
            </div> -->
            <!-- <div class="table-header">
                <span class="">
                    No
                </span>
                <span class="">
                    Expediente
                </span>
                
            </div> -->
    
        </div>
    
        
    
        <ng-container *ngFor="let control of controles; let i = index" >
            <div class="row">
                <span class="data" (click)="toControl(control.id_control)">{{i+1}}</span>
                <span class="data" (click)="toControl(control.id_control)">Control Prenatal</span>
                <span class="data" (click)="toControl(control.id_control)">{{control?.cantidad_consultas}}</span>
                <span class="data" (click)="toControl(control.id_control)">{{control?.fecha_creacion}}</span>
                <span class="data" (click)="toControl(control.id_control)">{{control?.ultima_visita}}</span>
                <span class="data" (click)="toControl(control.id_control)">{{control?.usuario_primer_nombre}} {{control?.usuario_primer_apellido}}</span>
                <!-- <span class="data">331</span>
                <div class="data">
                    <img src="assets/image/edit.svg" class="icon">
                    <img src="assets/image/trash.svg" class="icon">
                </div> -->
            </div>
        </ng-container>
    
    
    </div>
</ng-container>



<div style="height: 20px;">
</div>
