h2{
    font-size: 15px;
    font-weight: lighter;
    color: black;
    margin-left: 50px;
    cursor: pointer;
}



.form{
    /* margin-left: 50px; */
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.form-field{
    /* margin-right: 20px; */
    /* color: black; */
    width: 100%;
    margin: 0;
}

.form-field-date{
    width: 100%;
    margin: 0;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    /* border: 1px solid black; */
}

.large{
    width: 600px;
}


.container-grid{
    display: grid;
    grid-template-columns: auto auto  auto ;
    /* grid-template-rows: auto auto auto auto; */
    grid-column-gap: 20px;
    width: 100%;
    /* background: chartreuse; */
    padding: 0;

    height: 150px;
}




.div-0{
    grid-column: 1/4;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 20px;
    padding: 0;
}

.div-2{
    grid-column: 1/4;
    grid-row: 2;


    display: grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 20px;
    padding: 0;
}


table {
    width: 100%;
    margin: 0;
  }

.tab-container{
    width: 1000px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 5px !important;
    /* border: 1px solid blue; */
}

th{
    background: rgb(220,220,220);
    color: #4169E1;
    font-weight: bold;
}


.btn{
    /* background: ; */
    color: #32CD32;
    font-weight: bold;

}