

.grid{

    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background: orchid; */
    column-gap: 100px;
    margin-top: 20px;
}


.col{
    width: 100%;
    /* background: palegreen; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    /* row-gap: 25px; */
    font-size: 13px;

    /*  */

    /* height: 400px; */
}

.sub-container{
    margin-left: 60;
}


.container-roles{
    grid-column: 1/3;
}


.btn{
    /* font-size: 12px; */
    /* height: 35px; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-top: 100px; */
}


