
<div class="title-container">
    <img src="assets/image/add_person.svg" alt="" class="title-icon" style="padding: 0;">
    <h1 class="title" style="margin: 0; padding: 0px;">Agregar Usuario</h1>
</div>


<form [formGroup]="form_data_user">
    <div class="grid">
    
    
        <div class="col">
            <mat-form-field class="mat-form" appearance="outline" >
                <mat-label>Primer nombre</mat-label>
                <input matInput  formControlName="primer_nombre">
            </mat-form-field>

            <mat-form-field class="mat-form" appearance="outline" >
                <mat-label>Segundo nombre</mat-label>
                <input matInput  formControlName="segundo_nombre">
            </mat-form-field>

            <mat-form-field  appearance="outline" >
                <mat-label>Primer apellido</mat-label>
                <input matInput  formControlName="primer_apellido">
            </mat-form-field>

            <mat-form-field  appearance="outline" >
                <mat-label>Segundo apellido</mat-label>
                <input matInput  formControlName="segundo_apellido">
            </mat-form-field>

            <mat-form-field  appearance="outline" >
                <mat-label>Dpi</mat-label>
                <input matInput  formControlName="dpi">
            </mat-form-field>

            <mat-form-field  appearance="outline" >
                <mat-label>Usuario</mat-label>
                <input matInput  formControlName="usuario">
            </mat-form-field>

            <mat-form-field  appearance="outline" >
                <mat-label>Correo</mat-label>
                <input matInput  formControlName="correo">
            </mat-form-field>

            <!-- <input type="text" name=""  placeholder="Dpi" class="input" formControlName="dpi">
            <input type="text" name=""  placeholder="Usuario" class="input" formControlName="usuario">
            <input type="text" name=""  placeholder="Correo" class="input" formControlName="correo"> -->
            <!-- <input type="text" name=""  placeholder="Nacionalidad" class="input">
            <input type="text" name=""  placeholder="DPI" class="input"> -->
        </div>
    
        <div class="col">


            <mat-form-field  appearance="outline" >
                <mat-label>Teléfono</mat-label>
                <input matInput  formControlName="telefono">
            </mat-form-field>

            <mat-form-field  appearance="outline" >
                <mat-label>Puesto</mat-label>
                <input matInput  formControlName="puesto">
            </mat-form-field>

            <!-- <input type="text" name=""  placeholder="Teléfono" class="input" formControlName="telefono">
            <input type="text" name=""  placeholder="Puesto" class="input" formControlName="puesto">  -->
            <!-- <input type="text" name=""  placeholder="Rol" class="input"> -->
            <!-- <div class="flex-start-center"> -->
                <!-- <select name="roles" id="roles" class="input" formControlName="rol">
                    <option value="" disabled selected>Rol</option>
                    <ng-container *ngFor="let rol of data_roles; let i=index">
                        <option [ngValue]="i" >{{rol.nombre_rol}}</option>
                    </ng-container>
                </select> -->

                <mat-form-field appearance="outline" >
                    <mat-label>roles</mat-label>
                    <mat-select formControlName="rol">
                      <mat-option *ngFor="let rol of data_roles; let i=index" [value]="i">
                        {{rol.nombre_rol}}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon> -->
                </mat-form-field>
    
            <!-- </div> -->
            
            <div class="flex-start-center">
                <span class="guardar-text" (click)="agregarRol()">Agregar rol</span>
            </div>
    
    
            <div class="container-roles flex-start-center">
                <ng-container *ngFor="let rol of roles; let i=index">
                    <div class="rol-container">
                        {{rol.nombre_rol}}
                        <img src="assets/image/x.svg" alt="" class="close" (click)="close(i)" >
                    </div>
                </ng-container>
            </div>
    
            <!-- <input type="text" name=""  placeholder="Segundo apellido" class="input"> -->
            <!-- <input type="text" name=""  placeholder="lugar de nacimiento" class="input">
            <input type="text" name=""  placeholder="Fecha de nacimiento" class="input"> -->
            <!-- <input type="text" name=""  placeholder="Nacionalidad" class="input">
            <input type="text" name=""  placeholder="DPI" class="input"> -->
        </div>
    
    
        <!-- <label for="primer_nombre" class="label">primer nombre</label> -->
    
        <!-- <label for="segundo_nombre" class="label">Segundo nombre</label> -->
    
    </div>
</form>



<div class="btn-container">

    <!-- <input type="button" value="Guardar" class="btn" > -->
    <button mat-raised-button class="btn" type="submit"  *ngIf="cargando">
        <mat-spinner class="mat-spiner" [diameter]="30" color="accent"></mat-spinner>
    </button>

    <button mat-raised-button class="btn" type="submit" (click)="guardar()" *ngIf="!cargando">
        <!-- <mat-spinner class="mat-spiner" [diameter]="30"></mat-spinner> -->
        Guardar
    </button>
</div>
