
<div class="title-container">
    <img src="assets/image/add_person.svg" alt="" class="title-icon" style="padding: 0;">
    <h1 class="title" style="margin: 0; padding: 0px;">Agregar Usuario</h1>
</div>


<div class="grid">


    <div class="col">
        <input type="text" name=""  placeholder="Primer nombre" class="input">
        <input type="text" name=""  placeholder="Segundo nombre" class="input">
        <input type="text" name=""  placeholder="Primer apellido" class="input">
        <input type="text" name=""  placeholder="Segundo apellido" class="input">
        <input type="text" name=""  placeholder="Usuario" class="input">
        <input type="text" name=""  placeholder="Corrreo" class="input">
        <!-- <input type="text" name=""  placeholder="Nacionalidad" class="input">
        <input type="text" name=""  placeholder="DPI" class="input"> -->
    </div>

    <div class="col">
        <input type="text" name=""  placeholder="Teléfono" class="input">
        <input type="text" name=""  placeholder="Puesto" class="input">
        <input type="text" name=""  placeholder="Rol" class="input">
        <!-- <input type="text" name=""  placeholder="Segundo apellido" class="input"> -->
        <!-- <input type="text" name=""  placeholder="lugar de nacimiento" class="input">
        <input type="text" name=""  placeholder="Fecha de nacimiento" class="input"> -->
        <!-- <input type="text" name=""  placeholder="Nacionalidad" class="input">
        <input type="text" name=""  placeholder="DPI" class="input"> -->
    </div>


    <!-- <label for="primer_nombre" class="label">primer nombre</label> -->

    <!-- <label for="segundo_nombre" class="label">Segundo nombre</label> -->

</div>



<div class="btn-container">

    <input type="button" value="Guardar" class="btn">
</div>
