

.grid{

    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background: orchid; */
    column-gap: 100px;
    margin-top: 20px;
}


.col{
    width: 100%;
    /* background: palegreen; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    /* row-gap: 25px; */
    font-size: 13px;

    /* height: 400px; */
}

.sub-container{
    margin-left: 60;
}

.col-2{
    width: 100%;
    /* background: palegreen; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;

    margin-top: 10px;

    font-size: 13px;
}

.sub-title{
    grid-column: 1/3;
}

.nombre-encargado{
    grid-column: 1/3;
}


.btn-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    
}

.text-form{
    color: #7B7D82;
}

.footer{
    height: 15px;
}

.radio-label{
    margin-left: 10px;
    color: #7B7D82;
}


.btn{
    /* font-size: 12px; */
    /* height: 35px; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-form .mat-form-field-wrapper{
    margin: 0 !important;
    padding: 0;
  }

input{
    font-size: 12px;
}