
<div class="title-container">
    <img src="assets/image/add_person.svg" alt="" class="title-icon" style="padding: 0;">
    <h1 class="title" style="margin: 0; padding: 0px;">Agregar Paciente</h1>
</div>


<div class="grid">


    <div class="col">
        <input type="text" name=""  placeholder="Primer nombre" class="input">
        <input type="text" name=""  placeholder="Segundo nombre" class="input">
        <input type="text" name=""  placeholder="Primer apellido" class="input">
        <input type="text" name=""  placeholder="Segundo apellido" class="input">
        <!-- <input type="text" name=""  placeholder="lugar de nacimiento" class="input"> -->
        <input type="date" name=""  placeholder="Fecha de nacimiento" class="input">
        <!-- <input type="text" name=""  placeholder="Nacionalidad" class="input"> -->
        <input type="text" name=""  placeholder="DPI" class="input">
    </div>

    <div class="col">
        <!-- <input type="text" name=""  placeholder="Estado civil" class="input"> -->
        <input type="text" name=""  placeholder="Ocupación" class="input">
        <input type="text" name=""  placeholder="Teléfono" class="input">

        <div style="display: flex; justify-content: flex-start; align-items: center;">
            <span class="text-form">Migrante:</span>

            <div style="display: flex; justify-content: flex-start; align-items: center;">
                <label for="si" class="radio-label">Si</label>
                <input type="radio" name="fav_language" id="si" value="Si">
            </div>

            <div style="display: flex; justify-content: flex-start; align-items: center;">
                <label for="no" class="radio-label">No</label>
                <input type="radio" name="fav_language" id="no" value="No">
            </div>

        </div>
        <!-- <input type="text" name=""  placeholder="Segundo apellido" class="input"> -->
        <!-- <input type="text" name=""  placeholder="lugar de nacimiento" class="input">
        <input type="text" name=""  placeholder="Fecha de nacimiento" class="input"> -->
        <!-- <input type="text" name=""  placeholder="Nacionalidad" class="input">
        <input type="text" name=""  placeholder="DPI" class="input"> -->
    </div>


    <!-- <label for="primer_nombre" class="label">primer nombre</label> -->

    <!-- <label for="segundo_nombre" class="label">Segundo nombre</label> -->

</div>


<div class="grid">

    
    <div class="col-2">
        <h2 class="sub-title">
            Dirección
        </h2>
        <input type="text" name=""  placeholder="Departamento" class="input">
        <input type="text" name=""  placeholder="Municipio" class="input">
        <input type="text" name=""  placeholder="Calle / Avenida" class="input">
        <!-- <input type="text" name=""  placeholder="Segundo apellido" class="input">
        <input type="text" name=""  placeholder="lugar de nacimiento" class="input">
        <input type="date" name=""  placeholder="Fecha de nacimiento" class="input">
        <input type="text" name=""  placeholder="Nacionalidad" class="input">
        <input type="text" name=""  placeholder="DPI" class="input"> -->
    </div>

    <div class="col-2">
        <h2 class="sub-title">
            Responsable
        </h2>
        <input type="text" name=""  placeholder="Nombre" class="input nombre-encargado">
        <input type="text" name=""  placeholder="Teléfono" class="input">
        <!-- <input type="text" name=""  placeholder="Estado civil" class="input">
        <input type="text" name=""  placeholder="Ocupación" class="input">
        <input type="text" name=""  placeholder="Teléfono" class="input"> -->
        <!-- <input type="text" name=""  placeholder="Segundo apellido" class="input"> -->
        <!-- <input type="text" name=""  placeholder="lugar de nacimiento" class="input">
        <input type="text" name=""  placeholder="Fecha de nacimiento" class="input"> -->
        <!-- <input type="text" name=""  placeholder="Nacionalidad" class="input">
        <input type="text" name=""  placeholder="DPI" class="input"> -->
    </div>


    <!-- <label for="primer_nombre" class="label">primer nombre</label> -->

    <!-- <label for="segundo_nombre" class="label">Segundo nombre</label> -->

</div>


<div class="btn-container">

    <input type="button" value="Guardar" class="btn">
</div>
