
<div class="fondo">
    <div class="container-img">
        <img src="assets/image/CAM_logo.svg" alt="" class="logo-CAM">
        <img src="assets/image/ministerio.png" alt="" class="logo-Min">
       
    </div>

    <div class="card-container">

        <div class="flex-column-center">
            <div class="card">
        
                <p class="title">Iniciar Sesión</p>
        
        
                <form [formGroup]="form_login">
                    <!-- <div class="input-container">
                        <img src="assets/image/usuario.svg" class="icon">
                        <input type="text" placeholder="Usuario" class="input" formControlName="username">
                    </div> -->
    
                    <mat-form-field  appearance="outline" >
                        <mat-label>Usuario</mat-label>
                        <input matInput  formControlName="username">
                    </mat-form-field>
    
    
                    <mat-form-field  appearance="outline" >
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
    
            
                    <!-- <div class="input-container">
                        <img src="assets/image/candado.svg" class="icon">
                        <input type="password" placeholder="Contraseña" class="input" formControlName="password"> 
                    </div> -->
        
                </form>
        
        
                <!-- <input type="submit" class="btn" value="Ingresar" > -->
        
                <!-- <button class="btn" (click)="ingresar()">Ingresar</button> -->
    
                <button mat-raised-button class="btn" type="submit" *ngIf="cargando">
                    <mat-spinner class="mat-spiner" [diameter]="30" color="accent"></mat-spinner>
                </button>
    
                <button mat-raised-button class="btn" type="submit" (click)="ingresar()" *ngIf="!cargando">
                    <!-- <mat-spinner class="mat-spiner" [diameter]="30"></mat-spinner> -->
                    Ingresar
                </button>
            </div>
            <div class="container-pass">
                <p class="text-forgot" (click)="toForgot()">¿Olvidaste tu contraseña?</p>
            </div>
        </div>
    </div>

</div>