.fondo{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/huipil.svg');
    background-size: cover;
/* 
    display: flex;
    justify-content: center;
    align-items: center; */

    display: grid;
    grid-template-columns: 2fr 1fr;

    /* space */
    /* flex-direction: column; */

    /* justify-content: center;
    align-items: center; */
}

.card-container{
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    /* background: chocolate; */
}


.container-img{

    padding: 30px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    /* background: chartreuse; */

}

.card{
    /* width: 25%; */
    /* height: 50%; */

    /* align-self: center; */
    width: 300px;
    height: 300px;

    background: rgba(255, 255, 255, 0.906);
    border-radius: 15px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title{
    color: #FFBAFF;
    font-size: 25px;
    /* margin-top: 10px; */
}

.input-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #9FDFEF;
    margin-top: 20px;
}

.input{
    border: none;
    background: none;
    font-size: 15px;
    width: 160px;
    color: #707070;
}

.icon{
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}


.input:focus{
    outline: none;
}

.btn{
    color: white;
    background: #9FDFEF;
    border: none;
    margin-top: 10px;
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 15px; */
}


.logo-CAM{
    /* justify-self: flex-start  */
    height: 220px;
}

.logo-Min{
    height: 260px;
}



@media only screen and (max-width: 920px) {
    .card {
      /* background-color: lightblue; */
      margin-top: 75px;
    }

    .logo-CAM{
        height: 100px;
    }
  }


.text-forgot{
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}


form{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}