


.container-data-exp{
    width: 90%;
    margin:15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.data-exp{
    color: #2C3D7F;
    font-size: 13px;
}


.container{
    width: 90%;
    margin: 0 auto;
}

.data{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* grid-row: 1fr; */
}

.data-migrante{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr ;
}



@media only screen and (max-width: 920px) {
    .data{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr ;
        /* background: chartreuse; */
    }
  }


  @media only screen and (max-width: 400px) {
    .data{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr;
        /* background: chartreuse; */

        min-width: 500px;
    }


  }


  .consulta-drop{
    min-height: 40px;
    border: 0.5px solid #707070;
    width: 90%;
    margin: 0 auto;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

    /* background:rgb(185, 181, 181) ; */

    margin-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
  }

  .title-icon{
      height: 25px;
  }



.container-title-control{
    width: 90%;
    margin: 0 auto;
}


.container-consultas{
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 290px 1fr;
    overflow: auto;

}

.contoainer-col-consultas{
    width: 100%;
    /* background: green; */
}

.col-consulta{
    width: 190px;
    height: 100%;
    border: 1px solid gray;
}



.main-grid-consultas{
    width: 90%;
    margin: 0 auto;
}


.col{
    height: 1500px;
    border: 1px solid #798197;
}

.titles-consultas{
    width: 290px;
    height: 100%;
    border: 1px solid gray;
    
}



.title-section{
    background: #798197;
    font-size: 12px;
    color: white;
    width: 100%;
    height: 25px;

}


.title-text{
    /* background: lemonchiffon; */
    text-align: left;
    width: 100%;

    text-transform: capitalize;
}

.container-fur, .container-fpp{
    display: flex;
}




.container-examen-fisico{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    /* background: hotpink; */
    width: 100%;
}


.container-check{
    margin: 0 5px;
}


.input{
    background: none;
    font-size: 12px;
    text-align: center;
}


.tipo-consulta-text{
    font-size: 11px;
    color: black;
    /* background: green; */
    /* margin: 5px; */
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0
}



form{
    width: 100%;
}



.btn{
    font-size: 12px;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-btn{
    height: 40px;
}


.datepiker-input{
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 12px;
    padding: 0;
    pointer-events:none; 
}


.error{
    /* border: 0.5px solid red; */

    background: rgba(77, 75, 75, 0.225);
}

.input-small{
    text-align: center;
    font-size: 12px;
}


.container-icon{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: chartreuse; */
}

.icon-sqare{
    /* background: chocolate; */
    width: 15px;
    height: 15px;
}

.add-icon{
    cursor: pointer;
}