<div class="title-container">
    <img src="assets/image/pacientes.svg" alt="" class="title-icon" style="padding: 0;">
    <h1 class="title" style="margin: 0; padding: 0px;">Control Prenatal</h1>
</div>

<div class="container-data-exp">
    <span class="data-exp">Expediente No. XXXXX</span>
    <span class="data-exp">Fecha creación del control: DD/MM/AAAA</span>
</div>



<div class="container">
    <span class="data-card-header-text">Datos generales de la paciente</span>
    <div class="data-card-content">
        <div class="data">
            <p class="data-text">Nombre: <span class="value"> Grisel Victoria Xiquitá Xajpot</span></p>
            <p class="data-text">Edad: <span class="value">18 años</span> </p>
            <p class="data-text">Fecha de Nacimientos:<span class="value">DD/MM/AAAA</span></p>
        </div>


        <div class="data">
            <p class="data-text">Nombre del otro/a responsable: <span class="value"> Grisel Victoria Xiquitá
                    Xajpot</span></p>
            <p class="data-text">Teléfono: <span class="value">48728047</span> </p>
            <!-- <p class="data-text">Fecha de Nacimientos:<span class="value">DD/MM/AAAA</span></p> -->
        </div>


        <div class="data">
            <p class="data-text">Dirección: <span class="value">2da avenida 2-18 zona 1 Patzún, Chimaltenango
                </span></p>
            <p class="data-text">Teléfono: <span class="value">40110840</span> </p>
            <!-- <p class="data-text">Fecha de Nacimientos:<span class="value">DD/MM/AAAA</span></p> -->
        </div>

        <div class="data">
            <p class="data-text" style="display: flex; justify-content: flex-start; align-items: center; height: 20px;">
                Migrante: SI
                <img src="assets/image/x.svg" style="margin-right: 10px; color: crimson;"> NO
            </p>



            <p class="data-text">Ocupación: <span class="value">Vendedora</span> </p>
            <!-- <p class="data-text">Fecha de Nacimientos:<span class="value">DD/MM/AAAA</span></p> -->
        </div>

    </div>
</div>

<div style="width: 90%; display: flex; justify-content: flex-end; align-items: center; margin:0 auto;">
    <!-- <span class="data-exp">Expediente No. XXXXX</span> -->
    <div style="display: flex; justify-content: flex-end; ">
        <div class="add-pacient">
            <!-- <img src="assets/image/add.svg" alt="" class="add-icon" style="padding: 0;"> -->
            <span style="color: #2C3D7F; text-decoration: underline;">Ver información completa</span>
        </div>
    </div>

</div>



<div class="title-container">
    <img src="assets/image/pacientes.svg" alt="" class="title-icon" style="padding: 0;">
    <h1 class="title" style="margin: 0; padding: 0px;">Control Prenatal</h1>
</div>


<div class="consulta-drop">
    <div class="header-consulta">
        <div class="content-consulta">
            <span class="data-text">Primera Consulta</span>
        </div>

        <img src="assets/image/drop_icon.svg" alt="" class="title-icon" style="padding: 0;">
    </div>


</div>






<mat-grid-list cols="19" class="main-grid-consultas">


    <!-- !TITULOS DE LOS APARTADOS -->
    <mat-grid-tile colspan="5" class="col">
        <div class="titles-consultas flex-column-start-center">

            <div class="title-section flex-center">
                <span class="title-text">Examen físico de la embarazada</span>
            </div>

            <div class="container-examen-fisico" >

                <div class="flex-space-around-center">
                    <div class="flex-center">
                        <span class="description-text">FPP:</span>
                        <input type="text" name="" id="" class="input-small">
                    </div>
    
                    <div class="flex-center">
                        <span class="description-text">FPP:</span>
                        <input type="text" name="" id="" class="input-small">
                    </div>
                </div>

                <div class="flex-space-around-center">
                    <div class="flex-center">
                        <span class="description-text">Circunferencia del embarazo (cms):</span>
                        <input type="text" name="" id="" class="input-small">
                    </div>
                    <!-- <div class="flex-center">
                        <span class="description-text">FPP:</span>
                        <input type="text" name="" id="" class="input-small">
                    </div> -->
                </div>
                <div>
                    <span class="description-text">(Sólo si embarazo menor de 12 semanas)</span>
                </div>

            </div>



            <div class="title-section flex-center">
                <span class="title-text">Signos o síntomas de peligro</span>
            </div>
            <div class="description-title lines-4">
                <p class="description-text-parrafo ">
                    Presenta signos o síntomas de peligro
                    <span style="font-weight: bold;"> Si</span> presenta, estabilice y refiera
                    Anote el signo o síntomas de peligro detectado en la columna correspondiente
                </p>
            </div>


            
            <div class="title-section flex-center">
                <span class="title-text">Signos vitales</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Presión arterial</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Temperatura corporal en °C</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Peso en libras</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Altura</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Respiraciones por minuto</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Frecuencia cardiaca Materna</span>
            </div>


           

            <!-- !EXAMEN GENERAL -->
            <div class="title-section flex-center">
                <span class="title-text">Examen general</span>
            </div>
            <div class="description-title flex-start-center">
                <!-- <span class="description-text flex-start-center"> Frecuencia cardiaca Materna</span> -->
            </div>
            <div class="description-title lines-2">
                <p class="description-text ">
                    Estado general, palidez palmar, conjuntivas uñas
                </p>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Examen buco dental (describa)</span>
            </div>
            

            <!-- !EXAMEN OBSTETRICO -->
            <div class="title-section flex-center">
                <span class="title-text">Examen obstétrico</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Altura uterina</span>
            </div>
            <div class="description-title lines-2">
                <p class="description-text ">
                    presencia de movimientos fetales (20 semanas o más)
                </p>
            </div>

            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Frecuencia cardiaca fetal (si procede)</span>
            </div>
            <div class="description-title lines-2">
                <p class="description-text ">
                    Presentación por leopold (> 36 semanas)
                </p>
            </div>
            


            <!-- !EXAMEN GINECOLOGICO -->
            <div class="title-section flex-center">
                <span class="title-text">Examen ginecológico</span>
            </div>
            <div class="description-title lines-2">
                <p class="description-text ">
                    Presencia de trazas de sangre o manchado (describa)
                </p>
            </div>
            <div class="description-title lines-2">
                <p class="description-text ">
                    Verrugas, herpes, papilomas, úlceras (describa)
                </p>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Flujo vaginal</span>
            </div>


            <!-- !EXAMEN DE LABORATORIO -->
            <div class="title-section flex-center">
                <span class="title-text">Examenes de laboratorio</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Hemoglobina y Hematorito</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Grupo y RH </span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Orina (Proteína , gglucosa y cetona)</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Glicemia</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> VDRL</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> VIH (Oferte prueba con consejería) </span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Papanicolaou</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Infecciones</span>
            </div>

            <!-- !CLASIFICACION -->
            <div class="title-section flex-center">
                <span class="title-text">Clasificación</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Semanas embarazo por FUR y/o AU</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Problemas detectados</span>
            </div>

            <!-- !CONDUCTA -->
            <div class="title-section flex-center">
                <span class="title-text">Conducta</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Sulfato Ferroso / anotar número de tabletas</span>
            </div>

            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Ácido fólico / anotar número de tabletas</span>
            </div>
            <div class="description-title lines-2">
                <p class="description-text ">
                    Vacunación madre (Td) / anotar dosis que se administra 
                </p>
            </div>
            <!-- <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> </span>
            </div> -->
            
            <!-- !CONSEJERIA -->
            <div class="title-section flex-center">
                <span class="title-text">consejería</span>
            </div>
            
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Alimentación durante el embarazo</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Selakes de peligro embarazo</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Consejería pre/post prueba VIH</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Plan de parto</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Plan de emergencia familiar y comunitario</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Lactancia exclusiva / MELA</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Otros métodos de planificación familiar</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Importancia del control postparto</span>
            </div>
            <div class="description-title flex-start-center">
                <span class="description-text flex-start-center"> Vacunacion y cuidados del recién nacido/a</span>
            </div>



        </div>
    </mat-grid-tile>

    <!-- !APARTADO PARA LAS FILAS DE LAS CONSULTAS -->
    <mat-grid-tile colspan="10" class="col">
        <div>

        </div>

    </mat-grid-tile>
</mat-grid-list>



<div style="width: 90%; display: flex; justify-content: flex-end; align-items: center; margin:15px auto;">
    <!-- <span class="data-exp">Expediente No. XXXXX</span> -->
    <div style="display: flex; justify-content: flex-end; ">
        <div class="add-pacient" style="cursor: pointer;">
            <img src="assets/image/add.svg" alt="" class="add-icon" style="padding: 0;">
            <span style="color: #2C3D7F; text-decoration: underline;">Agregar consulta</span>
        </div>
    </div>
</div>