<!-- 
<div>
  <div>
    <div style="display: block">
      <canvas baseChart height="100px"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [plugins]="barChartPlugins">

      </canvas>
    </div>
  </div>
</div> -->
<h1> Pacientes</h1>
<div style=" display:flex; justify-content: flex-start; align-items: center; padding:0">

    <!-- Grafica Departamento -->
    <div class="container-grafica">
        <div style=" width: 300px;">
            <canvas id="chart-depto-pa" height="40vh" width="50vw"></canvas>
        </div>






        <div class="container-labels">
            <ng-container *ngFor="let item of data_labels; let i=index">
                <div style="display: flex; justify-content: flex-start; align-items: center; border-bottom: 1px solid gray;">
                    <div style="height: 10px; width: 20px;" [ngStyle]="{'background':item.color }"></div>
                    <div>{{item.label}} - <span>{{porcentajes_depto[i]}}</span> </div>
                </div>
            </ng-container>

        </div>

        <mat-icon [ngClass]="{'none': filtroDeptoActive==false}" style="align-self: flex-end; color:green">check_circle_outline</mat-icon>
    </div>


    <!-- Grafica municipios -->

    <div class="container-grafica-barras">
        <div style=" width: 400px; height: 300px;">
            <canvas id="chart-muni-pa" height="40vh" width="50vw"></canvas>
        </div>

        <div style="align-self: flex-end; color:green; margin-bottom: 23px;margin-left: 10px; height: 10px;width: 10px;">
            <mat-icon [ngClass]="{'none': filtroMuniActive==false}">check_circle_outline</mat-icon>
        </div>
    </div>
</div>


<!-- Grafica Edad -->

<div class="container-grafica">
    <div style=" width: 300px;">
        <canvas id="chart-edad-pa" height="40vh" width="50vw"></canvas>
    </div>






    <div class="container-labels">
        <ng-container *ngFor="let item of data_labels_edad; let i=index">
            <div style="display: flex; justify-content: flex-start; align-items: center; border-bottom: 1px solid gray;">
                <div style="height: 10px; width: 20px;" [ngStyle]="{'background':item.color }"></div>
                <div>{{item.label}} - <span>{{porcentajes_edad[i]}}</span> </div>
            </div>
        </ng-container>

    </div>

</div>



<h1> Bebes</h1>

<app-graficas-bebes></app-graficas-bebes>