



<div class="title-container">
    <img src="assets/image/pacientes.svg" alt="" class="title-icon" style="padding: 0;">
    <h1 class="title" style="margin: 0; padding: 0px;">Pacientes</h1>
</div>


<div style="width: 80%; display: flex; justify-content: flex-end; margin: 0 auto; " >
    <div class="add-pacient" (click)="toAgregarPaciente()">
        <img src="assets/image/add.svg" alt="" class="add-icon" style="padding: 0;">
        <span>Agregar Paciente</span>
    </div>
</div>

<div class="container-table">
    
    <div class="table">
        
        <div class="table-header">
            <span>Expediente</span>    
        </div>

        <div class="table-header">
            <span >Nombre</span>

        </div>

        <div class="table-header">
            <span >DPI</span>
            
        </div>
        
        <div class="table-header">
            <span>Edad</span>

        </div>

        <div class="table-header">
            <span>Teléfono</span>

        </div>

        <div class="table-header">
            <span>Dirección</span>

        </div>

        
        <!-- <div class="table-header">
            <span class="">
                No
            </span>
            <span class="">
                Expediente
            </span>
            
        </div> -->

    </div>


    <ng-container *ngFor="let paciente of data_pacientes; let i = index">
        <div class="row" (click)="toPaciente(paciente.id_paciente)">
            <span class="data">{{paciente.id_expediente}}</span>
            <span class="data-start">{{paciente.primer_nombre}} {{paciente.segundo_nombre}} {{paciente.primer_apellido}} {{paciente.segundo_apellido}}</span>
            <span class="data">{{paciente.dpi}}</span>
            <span class="data">{{paciente.edad_actual}} años</span>
            <span class="data">{{paciente.telefono}}</span>
            <span class="data-start">{{paciente.calle_avenida}}  {{paciente.municipio}} {{paciente.departamento}}</span>
            
            <div class="data">
                <img src="assets/image/edit.svg" class="icon">
                <img src="assets/image/trash.svg" class="icon">
            </div>
        </div>

    </ng-container>

    
<!-- 
    <div class="row" (click)="toPaciente()">
        <span class="data">1</span>
        <span class="data">Grisel Victoria Xiquitá Xajpot</span>
        <span class="data">3111 06021 0407</span>
        <span class="data">22 años</span>
        <span class="data">40110840</span>
        <span class="data">Patzún Chimaltenango</span>
        
        <div class="data">
            <img src="assets/image/edit.svg" class="icon">
            <img src="assets/image/trash.svg" class="icon">
        </div>
    </div>
    

    <div class="row" (click)="toPaciente()">
        <span class="data">1</span>
        <span class="data">Grisel Victoria Xiquitá Xajpot</span>
        <span class="data">3111 06021 0407</span>
        <span class="data">22 años</span>
        <span class="data">40110840</span>
        <span class="data">Patzún Chimaltenango</span>
        
        <div class="data">
            <img src="assets/image/edit.svg" class="icon">
            <img src="assets/image/trash.svg" class="icon">
        </div>
    </div>
    

    <div class="row" (click)="toPaciente()">
        <span class="data">1</span>
        <span class="data">Grisel Victoria Xiquitá Xajpot</span>
        <span class="data">3111 06021 0407</span>
        <span class="data">22 años</span>
        <span class="data">40110840</span>
        <span class="data">Patzún Chimaltenango</span>
        
        <div class="data">
            <img src="assets/image/edit.svg" class="icon">
            <img src="assets/image/trash.svg" class="icon">
        </div>
    </div>
    

    <div class="row" (click)="toPaciente()">
        <span class="data">1</span>
        <span class="data">Grisel Victoria Xiquitá Xajpot</span>
        <span class="data">3111 06021 0407</span>
        <span class="data">22 años</span>
        <span class="data">40110840</span>
        <span class="data">Patzún Chimaltenango</span>
        
        <div class="data">
            <img src="assets/image/edit.svg" class="icon">
            <img src="assets/image/trash.svg" class="icon">
        </div>
    </div>
     -->

</div>

