



<div class="container-progres-bar">
    <mat-progress-bar mode="query"  *ngIf="cargando"></mat-progress-bar>
</div>
<div class="title-container">
    <img src="assets/image/pacientes.svg" alt="" class="title-icon" style="padding: 0;">
    <h1 class="title" style="margin: 0; padding: 0px;">Pacientes</h1>
</div>


<div style="width: 80%; display: flex; justify-content: flex-end; margin: 0 auto; " >
    <div class="add-pacient" (click)="toAgregarPaciente()">
        <img src="assets/image/add.svg" alt="" class="add-icon" style="padding: 0;">
        <span>Agregar Paciente</span>
    </div>
</div>

<div class="container-table">
    
    <div class="table">
        
        <div class="table-header">
            <span   class="text-header">Expediente</span>   
            <input type="text" class="input-table" placeholder="Escriba" (input)="searchExpediente($event)"> 
        </div>

        <div class="table-header">
            <span   class="text-header">Nombre</span>
            <input type="text" class="input-table" placeholder="Escriba" (input)="searchNombre($event)"> 

        </div>

        <div class="table-header">
            <span   class="text-header">DPI</span>
            <input type="text" class="input-table" placeholder="Escriba" (input)="searchDPI($event)"> 
            
        </div>
        
        <div class="table-header">
            <span   class="text-header">Edad</span>
            <input type="text" class="input-table" placeholder="Escriba" (input)="searchEdad($event)"> 

        </div>

        <div class="table-header">
            <span   >Teléfono</span>
            <!-- <input type="text" class="input-table" placeholder="Escriba">  -->

        </div>

        <div class="table-header">
            <span   class="text-header">Dirección</span>
            <input type="text" class="input-table" placeholder="Escriba" (input)="searchDireccion($event)"> 

        </div>

        
        <!-- <div class="table-header">
            <span class="">
                No
            </span>
            <span class="">
                Expediente
            </span>
            
        </div> -->

    </div>


    <ng-container *ngFor="let paciente of data_pacientes| paginate: {itemsPerPage: 15, currentPage: p}; let i = index">
        <div class="row" >
            <span (click)="toPaciente(paciente?.id_paciente)" class="data">{{paciente?.id_expediente}}</span>
            <span (click)="toPaciente(paciente?.id_paciente)" class="data-start">{{paciente?.primer_nombre}} {{paciente?.segundo_nombre}} {{paciente?.primer_apellido}} {{paciente?.segundo_apellido}}</span>
            <span (click)="toPaciente(paciente?.id_paciente)" class="data">{{paciente?.dpi}}</span>
            <span (click)="toPaciente(paciente?.id_paciente)" class="data">{{paciente?.edad_actual}} años</span>
            <span (click)="toPaciente(paciente?.id_paciente)" class="data">{{paciente?.telefono}}</span>
            <span (click)="toPaciente(paciente?.id_paciente)" class="data-start">
                {{ (paciente?.direccion.length>35)? (paciente?.direccion | slice:0:35)+'...':(paciente?.direccion) }}
            </span>
            
            <div class="data">
                <img src="assets/image/edit.svg" class="icon" (click)="toPaciente(paciente?.id_paciente)">
                <img src="assets/image/trash.svg" class="icon" (click)=" eliminarDialog(paciente?.id_paciente)">
            </div>
        </div>

    </ng-container>
    <pagination-controls class="my-pagination" (pageChange)="p = $event" *ngIf="data_pacientes?.length>15"></pagination-controls>

    
    
<!-- 
    <div class="row" (click)="toPaciente()">
        <span class="data">1</span>
        <span class="data">Grisel Victoria Xiquitá Xajpot</span>
        <span class="data">3111 06021 0407</span>
        <span class="data">22 años</span>
        <span class="data">40110840</span>
        <span class="data">Patzún Chimaltenango</span>
        
        <div class="data">
            <img src="assets/image/edit.svg" class="icon">
            <img src="assets/image/trash.svg" class="icon">
        </div>
    </div>
    

    <div class="row" (click)="toPaciente()">
        <span class="data">1</span>
        <span class="data">Grisel Victoria Xiquitá Xajpot</span>
        <span class="data">3111 06021 0407</span>
        <span class="data">22 años</span>
        <span class="data">40110840</span>
        <span class="data">Patzún Chimaltenango</span>
        
        <div class="data">
            <img src="assets/image/edit.svg" class="icon">
            <img src="assets/image/trash.svg" class="icon">
        </div>
    </div>
    

    <div class="row" (click)="toPaciente()">
        <span class="data">1</span>
        <span class="data">Grisel Victoria Xiquitá Xajpot</span>
        <span class="data">3111 06021 0407</span>
        <span class="data">22 años</span>
        <span class="data">40110840</span>
        <span class="data">Patzún Chimaltenango</span>
        
        <div class="data">
            <img src="assets/image/edit.svg" class="icon">
            <img src="assets/image/trash.svg" class="icon">
        </div>
    </div>
    

    <div class="row" (click)="toPaciente()">
        <span class="data">1</span>
        <span class="data">Grisel Victoria Xiquitá Xajpot</span>
        <span class="data">3111 06021 0407</span>
        <span class="data">22 años</span>
        <span class="data">40110840</span>
        <span class="data">Patzún Chimaltenango</span>
        
        <div class="data">
            <img src="assets/image/edit.svg" class="icon">
            <img src="assets/image/trash.svg" class="icon">
        </div>
    </div>
     -->

</div>

