.container-table{
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: chartreuse; */
    margin-left: auto;
    margin-right: auto;
}

.table, .row{
    width: 100%;
    display: grid;
    /* grid-template-columns: 40px 230px 120px 50px 100px 200px 100px 50px; */

    grid-template-columns: 1fr 3fr 2fr 0.75fr 1.25fr 4fr 1fr;

    grid-gap: 10px;
}

.table{
    margin-bottom: 10px;
}

.row{
    /* background: #9FDFEF; */
    margin: 0;
    border-bottom: 1px solid #798197;
    cursor: pointer;

}

.add-pacient{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #2C3D7F;
    text-decoration: underline;
    /* align-self: flex-end; */

    /* background: chartreuse; */
    margin-bottom: 10px;
}

.add-icon{
    height: 12px;
}


/* span{
} */
.data{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-start{
    font-size: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.icon{
    height: 15px;
    margin: 0 5px;
    cursor: pointer;
}

.table-header{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border-radius: 5px;
    background: #9FDFEF;
    color: white;
    border: none;
    height: 25px;
    font-size: 12px;
}


.table-header:hover .input-table{
    display: block;
}

.table-header:hover .text-header{
    display: none;
}


/* .text-header{

} */

.input-table{
    display: none;
    outline: none;
    border: none;
    background: none;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #798197;
    margin: 0;
    padding: 0;
}



.my-pagination /deep/ .ngx-pagination .current {
    background: #9FDFEF;
    border: 1px solid #9FDFEF;
    color: white;
    border-radius: 5px;
}

.my-pagination /deep/ .ngx-pagination li a {
    background: white;
    /* // border: 1px solid #999f9f; */
    color: #2C3D7F;
    border-radius: 5px;
    /* // margin: 0 3px; */
}

.my-pagination /deep/ .ngx-pagination .pagination-next a, 
.my-pagination /deep/ .ngx-pagination .pagination-previous a
{
    background: white;
    /* // border: 1px solid #008F8B; */
    color: #2C3D7F;
    border: none;
    /* // text */
    /* // border-radius: 5px; */
}


/* 
// paginator /deep/ .ngx-pagination .current {
//     background: rgb(131, 131, 131);
//     border-radius: 4px;
//     padding-left: 9px;
//     padding-right: 9px;
// } */

.my-pagination {
    /* // float: right; */
    margin: 0 auto ;
    margin-top: 20px;
    /* // margin-right: 50px; */

    /* // margin-bottom: 80px; */
}

.my-pagination .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}