

.main{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: brown; */
}


h1{
    color: rgb(40, 116, 238);
    font-size: 70px;
    margin-bottom: 30px;
}

h2{
    color: black;
    font-size: 20px;
    font-weight: lighter;
    margin-right: 20px;
}


.container-h1{
    margin-bottom: 60px;
}


.btn{
    color: rgb(40, 116, 238);
}





::ng-deep  .mat-form .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(40, 116, 238) !important;
   }
  
  ::ng-deep .mat-form .mat-form-field-underline {
    /*change color of underline*/
    display: none;
  } 
  
  ::ng-deep  .mat-form .mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: black !important;;
  }

  ::ng-deep  .mat-form .mat-select-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 4px;
    /* color: black; */
    /* background: blue; */
}


/* .mat-acordion{
    width: 100px;
} */

.expansion-panel{
    width: 500px !important;
}

